@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  font-family: 'Noto Sans JP', 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

/* 
header
*/

#header {
  /* 全幅表示 */
  width: 100%;
  /* 高さ:可変 */
  height: 60vh;
  background-image: url(../img/blog.jpg);
  /* 背景画像の表示位置を設定（中央上） */
  background-position: center top;
  /* 背景画像の折り返しを無効化 */
  background-repeat: no-repeat;

  margin-bottom: 5%;
}

#header .top {
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 40%;
  color: white;
  font-size: 5rem;
}

.group {
  display: flex;
  /* 縦方向に並べる */
  flex-direction: column;
  /* 子要素を中央揃え */
  align-items: center;
  margin-bottom: 2%;
}

.group h1 {
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.group h2 {
  font-size: 1.2em;
  margin: 10px 0 0 0;
  padding: 0;
}

.underline {
  width: 50%;
  height: 1vh;
  margin: 10px 0;
  /* 上下のマージンを追加 */
  background: linear-gradient(to right, black, white);
}

.text {
  text-align: center;
  background-color: #e9e9e9;
}

.text p {
  height: 15vh;
}

#blog {
  /* 全幅表示 */
  width: 100%;
  /* 高さ:可変 */
  height: 60vh;
  background-image: url(../img/blog.jpg);
  /* 背景画像の表示位置を設定（中央上） */
  background-position: center top;
  /* 背景画像の折り返しを無効化 */
  background-repeat: no-repeat;
  margin-bottom: 5%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-title {
  color: white;
  text-align: center;

}

/* TODO posisionで指定 */
.info {
  font-size: 3rem;
  margin-bottom: 0%;
}

/* TODO posisionで指定 */
.blog {
  font-size: 4rem;
  margin-top: 1%;
}

/* 
Labs
*/

#labs {
  margin-bottom: 5%;
}
.contents {
  display: flex;
  justify-content: space-around;
}

.contents .text {
  width: 70%;
}

/* 
talks
*/

#talks {
  margin-bottom: 5%;
}

/* 
Links
*/

#links {
  margin-bottom: 5%;
} 

.container {
  display: flex;
  justify-content: space-around;
  padding: 0%;
  margin-top: 2%;
}

.box {
  width: 20%;
  height: 28vh;
  background-color: white;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
}

.policy {
  display: flex;
  justify-content: space-evenly;
  padding: 1% 10%;
}

#footer {
  background-color: black;
  color: #e9e9e9;
  height: 12vh;
}

#footer p {
  text-align: center;
}

.icon {
  display: flex;
  justify-content: center;
}

.x-icon {
  width: 7%;
  padding: 2% 5%;
}

.main-icon {
  width: 7%;
  padding: 2% 5%;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  text-decoration: none;
  font-size: 4rem;
}

/* 
レスポンシブ
*/

/* TODO */
/* @media screen and (max-width: ***px) {
  
} */