@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  font-family: 'Noto Sans JP', 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

/* 
header
*/

#header {
  /* 全幅表示 */
  width: 100%;
  /* 高さ:可変 */
  height: 100vh;
  background-image: url(../img/img_SP.png);
  /* 背景画像の表示位置を設定（中央上） */
  background-position: center top;
  /* 背景画像の折り返しを無効化 */
  background-repeat: no-repeat;

  margin-bottom: 5%;
}

#header .top {
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 40%;
  color: white;
  font-size: 5rem;
}

/* 共通のコンテンツ幅設定クラス */
.wrapper {
  padding: 0 5%
}

.group {
  display: flex;
  /* 縦方向に並べる */
  flex-direction: column;
  margin-bottom: 2%;
}

.group h1 {
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.group h2 {
  font-size: 1.6em;
  margin: 10px 0 0 0;
  padding: 0;
}

.underline {
  width: 30%;
  height: 1vh;
  margin: 10px 0;
  /* 上下のマージンを追加 */
  background: linear-gradient(to right, black, white);
}

.underline-flex {
  width: 90%;
  height: 1vh;
  margin: 10px 0;
  /* 上下のマージンを追加 */
  background: linear-gradient(to right, black, white);
}

.flex {
  display: flex
}

.text p {
  font-size: 1.5rem;
}

#blog {
  /* 全幅表示 */
  width: 100%;
  /* 高さ:可変 */
  height: 60vh;
  background-image: url(../img/blog.jpg);
  /* 背景画像の表示位置を設定（中央上） */
  background-position: center top;
  /* 背景画像の折り返しを無効化 */
  background-repeat: no-repeat;
  margin-bottom: 5%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-title {
  color: white;
  text-align: center;

}

/* TODO posisionで指定 */
.info {
  font-size: 3rem;
  margin-bottom: 0%;
}

/* TODO posisionで指定 */
.blog {
  font-size: 4rem;
  margin-top: 1%;
}

/* 
Labs
*/

#labs {
  margin-bottom: 5%;
  margin-right: 5%;
}

.contents {
  display: flex;
  justify-content: space-around;
}

.contents .text {
  width: 70%;
}

/* 
talks
*/

#talks {
  margin-bottom: 5%;
  margin-right: 5%;
}

/* 
Links
*/

#links {
  margin-bottom: 5%;
}

.container {
  display: flex;
  /* 左寄せ */
  justify-content: flex-start;
  /* ロゴ間のスペース */
  gap: 3%;
}

/*  */
.container>div {
  /* コンテナ内で均等幅にする */
  flex: 1;
  display: flex;
  width: 85%;
}

.logo-1 img {
  /* 画像を親要素の幅に合わせて縮小 */
  max-width: 100%;
  height: auto;
}

.box {
  width: 20%;
  height: 28vh;
  background-color: white;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
}

.policy {
  display: flex;
  justify-content: flex-start;
  padding: 1% 5%;
}

li.policy-li {
  margin-right: 4%;
}

#footer {
  background-color: black;
  color: #e9e9e9;
  height: 12vh;
}

#footer p {
  text-align: right;
  margin: 4%;
}

.icon {
  display: flex;
  /* 左寄せ */
  justify-content: flex-start;
}

.x-icon {
  width: 7%;
  margin-right: 5%;
}

.mail-icon {
  width: 7%;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  text-decoration: none;
  font-size: 4rem;
}

.contact-group {
  padding: 0 5%;
}

.contact-us-title {
  font-size: 2rem;
}

/* 
レスポンシブ
*/

/* TODO */
/* @media screen and (max-width: ***px) {
  
} */