@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  font-family: 'Noto Sans JP', 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

/* 
header
*/

#header {
  /* 全幅表示 */
  width: 100%;
  /* 高さ:可変 */
  height: 60vh;
  background-image: url(../img/company.jpg);
  /* 背景画像の表示位置を設定（中央上） */
  background-position: center top;
  /* 背景画像の折り返しを無効化 */
  background-repeat: no-repeat;

  margin-bottom: 5%;
}

#header .top {
  text-align: center;
  margin: 0 auto;
}

.group {
  display: flex;
  /* 縦方向に並べる */
  flex-direction: column;
  /* 子要素を中央揃え */
  align-items: center;
}

.group h1 {
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.group h2 {
  font-size: 1.2em;
  margin: 10px 0 0 0;
  padding: 0;
}

.underline {
  width: 50%;
  height: 1vh;
  margin: 10px 0;
  /* 上下のマージンを追加 */
  background: linear-gradient(to right, black, white);
}

.text {
  text-align: center;
  background-color: #e9e9e9;
}

#blog {
  /* 全幅表示 */
  width: 100%;
  /* 高さ:可変 */
  height: 60vh;
  background-image: url(../img/blog.jpg);
  /* 背景画像の表示位置を設定（中央上） */
  background-position: center top;
  /* 背景画像の折り返しを無効化 */
  background-repeat: no-repeat;
  margin-bottom: 5%;
}

.contents {
  display: flex;
  justify-content: space-between;
}

.contents .text{
  width: 70%;
}

/* 
レスポンシブ
*/

/* TODO */
/* @media screen and (max-width: ***px) {
  
} */