@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  font-family: 'Noto Sans JP', 'Montserrat', sans-serif;
}

.policy {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

img {
  max-width: 100%;
}

.policy__title {
  text-align: center;
}

.header {
  width: 100%;
  background-size: 100%;
  /* 画像を60%の高さ */
  height: 50vh;
  background-image: url(../img/img_PC.png);
  /* 画像の表示位置を指定 */
  background-position: 70% 80%;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 5%;
}

.header__top {
  position: absolute;
  right: 9%;
  top: -10%;
  color: white;
  font-size: 9rem;
  transform: translate(9%, -10%);
}

/* 共通のコンテンツ幅設定クラス */
.wrapper {
  padding: 0 5% 2% 5%;
}

ul {
  list-style: inside;
}

p {
  font-size: 1rem;
}

ol {
  font-size: 1rem;
}

.underline {
  text-decoration: underline;
}

.footer {
  background-color: black;
  color: #e9e9e9;
  height: 12vh;
}

.footer p {
  text-align: right;
  margin: 1%;
}

.corp-cmn-txt.m--download a:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 8px;
  border-color: transparent transparent transparent #005288;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.corp-cmn-txt.m--download a:after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  padding-right: 20px;
  background: url(../img/icn_pdf.png) no-repeat right 0;
  background-image: url(../img/icn_pdf.png);
  background-size: 16px 16px;
  vertical-align: text-top;
  box-sizing: border-box;
  color: #005288;
}
p.corp-cmn-txt.m--download {
  margin: 3% 0;
}

.corp-cmn-txt.m--download a {
  position: relative;
  padding-left: 15px;
  text-decoration: none;
  color: #005288;
}

.policy {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 1% 5%;
}

.policy__item {
  margin-right: 4%;
}

.safepolicy-list {
  text-decoration: none;
}

.contents__text {
  text-align: center;
}



.textend {
  text-align: right;
}

.safepolicy__item {
  list-style: none;
  counter-increment: cnt;
}

.safepolicy__item::before {
  content: "(" counter(cnt) ") ";
}

.safepolicy__innneritem {
  list-style: none;
}

.mail {
  color: blue;
  /* リンクの色を設定 */
  text-decoration: underline;
}

@media screen and (max-width: 968px) {

  /*  メイン画像 */
  .header {
    width: 100%;
    height: 40vh;
    background-image: url(../img/img_SP.png);
    /* 画像の表示位置を指定 */
    background-size: 100%;
    background-position: 90% 0%;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 5%;
  }

  .flex {
    flex-direction: column;
  }

  .header__top {
    right: 10%;
    top: 5%;
    font-size: 6rem;
    transform: translate(10%, 5%);
  }


  .group {
    text-align: center;
  }

  .underline {
    width: 100%;
  }

  .underline--flex {
    width: 100%;
  }


  /* Footer */
  .footer p {
    font-size: 0.8rem;
  }

  .policy {
    padding: 3% 4%;
  }


  .footer {
    height: 13.5vh;
  }
}

@media screen and (max-width: 620px) {
  .header__top {
    font-size: 3rem;
    transform: translate(10%, 5%);
  }

  .header {
    height: 25vh;
  }
}